=breadcrumb_tag do
  %li.active
    = t('headers.barrels.new')
  %li
    =link_to 'Бочки', barrels_path
  %li
    Информация о вине

%h1= t('headers.barrels.new')

= render 'form'

= link_to 'Назад', barrels_path, class: 'btn btn-primary'
