=breadcrumb_tag do
  %li.active
    = t('headers.wine_sorts.new')
  %li
    =link_to 'Вина', wine_sorts_path
  %li
    Информация о вине

%h1= t('headers.wine_sorts.new')

= render 'form'

= link_to 'Назад', wine_sorts_path, class: 'btn btn-primary'
